.select {
    cursor: pointer;
}

.select span{
    border: 1px solid darkblue;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}

.items {
    border: 1px solid darkblue;
    position: absolute;
    padding: 5px;
}

.item.selected {
    background-color: rgba(141, 178, 243, 0.84);
}
